* {
    box-sizing: border-box;
  }

html {
	scroll-behavior: smooth; 
  }

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	color:rgb(63, 53, 0)
}

.container{
	max-width: 1440px;
    margin: 0 auto;
	min-height: 50px;
  }

.header{
	background-color: #6c8870;
  }

.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
  }

.nav-link {
	position: relative;
	padding: 0 24px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 300;
	line-height: 10px;
	color: white;
  }

.nav-link:after {
	position: absolute;
	content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
	bottom: -5px;
	height: 3px;
	left: 24px;
	background-color: #ffffff; /*цвет фона элемента*/
	transition:  0.6s; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
	}

	.nav-link:hover::after {
		opacity: 1;
		animation-name: slidein;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	  }
	  
	  @keyframes slidein {
		from {
		  width: 0;
		}
		to {
		  width: calc(100% - 48px);
		}
	  }

.main {
	margin-bottom: auto;
}
	  
.main-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.section-item a {
	color: #829985;
	text-decoration: none;  
	transition: color 0.5s;
  }

  .section-item a:hover {
	color: #4d2323;
  }

.section{
	
  }

.section-title{
	width: 50%;
	font-size: 20px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: 5px;
	color: #6c8870;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
  }

@media (max-width: 768px) {
	.section {
	  width: 100%;
	}
  }

.footer {
	background-color: #829985;
	padding: 20px;  
  }
  
.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	color: #fff;
  }

.rss {
	width: 121px;
	height: 45px;
	background-image: url("./assets/svg/rs_school_js.svg");
	background-size: contain;
	background-repeat: no-repeat;
  }